.container-0 td,
.container-0 p {
    font-size: 12px;
    margin: 0;
    line-height: 15px;
}

.container-0 td {
    padding: 5px 7px 0 3px;
}


.container-1 .tabel {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000;
    table-layout: fixed;
}

.container-1 .tabel td {
    border: 1px solid #000;
    font-size: 12px;
    padding: 5px 7px 0 3px;
    text-align: left;
    vertical-align: top;
    line-height: 12px;
}

.container-1 .tabel .text-v {
    font-size: 10.8px;
    line-height: 15px;
}

.container-1 .tabel td ol {
    transform: translateX(-20px);
}

.container-1 .tabel .non-tabel td {
    border: none;
}

.container-2 .tabel td {
    font-size: 12px;
    text-align: left;
    vertical-align: top;
    padding: 0 5px;
}