* {
    font-family: 'Times New Roman', Times, serif;
}

.container-0 .title {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

.container-0 .tabel td {
    font-size: 12px;
    line-height: 15px;
}

.container-0 .tabel .d-dot {
    padding-left: 30px;
    padding-right: 10px;
}

.container-1 {
    margin-top: 10px;
    padding-top: 5px;
}

.container-1 .tabel {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.container-1 .tabel th {
    border-top: 3px black double;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    font-size: 12px;
    padding: 3px;
    vertical-align: top;
    line-height: 12px;
}

.container-1 .tabel td {
    border: 1px black solid;
    min-height: 50px;
    font-size: 12px;
    border-bottom: transparent;
    border-top: transparent;
    vertical-align: top;
    margin: 0;
    padding: 0 3px;
}

.container-1 .tabel .amount {
    height: 100%;
    align-items: center;
    margin: 0;
}

.container-1 .tabel .info {
    vertical-align: middle;
}